Repository questdb/documentation, pull requests merged in 2025-01, with the labels that each got.

#117 Document reload_config SQL function
  documentation/configuration-utils/_cairo.config.json
  documentation/configuration-utils/_http.config.json
  documentation/configuration-utils/_iam.config.json
  documentation/configuration-utils/_postgres.config.json
  documentation/configuration-utils/_tcp.config.json
  documentation/configuration.md
  documentation/reference/function/meta.md
  src/theme/ConfigTable/index.tsx
Labels: documentation, enhancement

#122 JSON reference doc: typo fixed
  documentation/reference/function/json.md
Labels: bug, documentation

#124 Kafka docs - typo fixed
  documentation/third-party-tools/kafka.md
Labels: bug, documentation

#127 Fix wrong result sets on SAMPLE BY page and improve SQL style
  documentation/reference/sql/sample-by.md
Labels: bug, documentation

#131 Fix detach partition SQL example
  documentation/reference/sql/alter-table-detach-partition.md
  documentation/reference/sql/checkpoint.md
Labels: bug, documentation

#101 add `SHOW CREATE TABLE tbl`
  documentation/reference/sql/show.md
Labels: documentation

#86 docs for `DECLARE` syntax
  .gitignore
  documentation/reference/sql/declare.md
  documentation/reference/sql/sample-by.md
  documentation/sidebars.js
  static/images/docs/diagrams/.railroad
  static/images/docs/diagrams/createTable.svg
  static/images/docs/diagrams/declare.svg
  static/images/docs/diagrams/fromTo.svg
  static/images/docs/diagrams/insert.svg
  static/images/docs/diagrams/withAsInsert.svg
Labels: documentation
